<div class="col-xs-10 col-xs-offset-1 about">
  <h1 class="about">About Splurty</h1>

  <br />

  <p>
  	Splurty is a web app that randomly splurts out quotes from the hit TV series Game of Thrones. This app, built using Ruby on Rails, is my beginning steps into the world of web development.
  </p>

  <br />
  <br />
  
  <div class="col-xs-12 col-sm-4">
  	<%= image_tag 'cynrick.jpg', :size => "180", :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
  	<h2 class="text-center">Cynrick Chiu</h2>
  	<br />
    <p>
  	  I am an aspiring web developer who has been addicted to reading and learning about web technologies ever since the day I picked up a beginner's book about HTML and CSS to help out a friend. Currently I am going through an apprenticeship with the Firehose Project in hopes of becoming a full-stack developer.
    </p>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />