<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <br />

  <p>
  	Splurty is a web app that randomly splurts out quotes from the hit TV series Game of Thrones.
  </p>

  <br />
  <br />
  
  <div class="col-xs-12 col-sm-4">
  	<%= image_tag 'cynrick.jpg', :size => "180", :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
  	<h2 class="text-center">Cynrick Chiu</h2>
  	<br />
    <p>
  	  Splurty was built by <a href="https://github.com/CynrickChiu">Cynrick</a>, a web development apprentice who is currently coding and hacking away with the <a href="http://www.thefirehoseproject.com">FirehoseProject</a>. He loves to read and learn about various web technologies.
    </p>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />